[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
flask = "*"
gunicorn = "*"
apache-airflow = "*"
"google.cloud" = "*"
apache-airflow-providers-google = "*"
kaggle = "*"
dbt-bigquery = "*"

[dev-packages]

[requires]
python_version = "3.12"
